html{
  background-color:aliceblue;
background-image:url('reg.jpg')
}

.container {
    margin : 1em auto;
    padding : 1em;
    background-color:#d3e5f2;
    width: 65%;
    border: 0.25em slid;
    border-radius: 2%;
}
ul{
  list-style: none;
}

.error{
  text-align:center;
  color:red;
  font-size:large;
  justify-content: center;
  border-radius: 7px;
  font-family:cursive;
}

.success{
  text-align:center;
  color:green;
  font-size:large;
  justify-content: center;
  border-radius: 7px;
  font-family:cursive;
}

#carReg{
  background-color:;
  text-align:center;
  margin: auto;
  padding: .25em;
  color: blue;
  font-size:x-large;
  font-family:sutro-deluxe-primary, cursive;
}



li{
    display:inline-block;
	  background-color: yellow;
  	text-align:center;
  	width: 13%;
  	color:black;
  	font-size:15px;
  	border-radius: 7px;
  	font-family:cursive;
  	border: 2px solid black;
  	margin : 1em auto;
    padding : .2em;
}

input.theName{
  margin:auto:
}


footer{
  text-align:center;
  font-size: 10px;
}

.radioBtn{
  color:blue;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1em auto;
}
