<form class="form" action="/" method="post">
  <div class="myClass"><br>
    <div class="textField" align="center">
      <input text-align="center" class="form-control" type="text" name="name" placeholder="Type registration number here">
    <br>
    <input id="btnGreet" class="btn btn-success" type="submit" value="Add Registration number">
    <br>
  </div>
</form>


<li>{{licenceNum}}</li>
